nav.nav-horaires{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/dist/assets/img/IMG_2502.jpg);
    background-size: cover;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
}

nav.acceuil{
    width: 100%;
    background-color: #ccc;
    color: #fff;

    h1.acceuil{
        margin: 0;
    }
}