button.submit{
    color: #fff;
    background-color: #00AB66;
    border: none;
    box-shadow: #000 0.5;
    padding: 10px 30px;
    border-radius: 20px;
}

.flag img{
    top: 0;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 100%;
    border: 2px solid #00AB66;
    cursor: pointer;
  }