// header{
//     display: flex;
//     padding: 20px;
//     color: $secondary;

//     h2{
//         margin: 0;
//     }
// }
header{
    display: flex;
}
header .logo{
    padding-left: 2rem;
    display: flex;
    gap: 0.8rem;
}

header .logo img{
    width: 2rem;
    height: 2rem;
}

header .top{
    // justify-content: flex-end;
    padding-top: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}