nav{
    display: inline;
    background-color: $primary;


    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;

        li{
            margin: 10px;

            a{
                text-decoration: none;
                color: $secondary;
                padding: 10px;
            }

            a:hover{
                text-decoration: none;
                color: $secondary;
                
            }
        }
    }
}