nav{
    display: inline;
    background-color: $primary;
    height: 100vh;
    padding: 20px;

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;

        li{
            margin: 10px;

            a{
                text-decoration: none;
                color: $secondary;
                padding: 20px;
            }

            a:hover{
                text-decoration: none;
                color: $secondary;
                
            }
        }
    }
}