@media screen and (max-width: 768px){
    div.image{
        align-items: center;
        padding-top: 80px;
    }
    img.view{
        width: 70%;
        height: 70%;
        border-radius: 10%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    div.all-lang{
        padding: 50px ;
        width: auto;
        height: 500px;

        img{
            margin: 10px;
        }
    }

    div.lang, div.lang2{
        width: auto;
        display: flex;
        justify-content: center;
    }

    div.lang img, .lang2 img{
        height: 80px;
        width: 80px;
        border-radius: 50%;
    }

    .active-img{
        border: 5px solid #00AB66;
    }

    footer{
        background-color: #F1F1F1;
        bottom: 0;
        position: fixed;
        width: 100%;
        height: 80px;
        display: flex;
    }
    div.choix{
       padding: 30px; 
    }
    div.choix p{
        display: none;
    }

    div.choix p.active{
        display: flex;
        padding: 0;
    }
    div.cont-btn{
        padding: 20px 0 0 150px;
    }
    button.submit{
        color: #fff;
        background-color: #00AB66;
        border: none;
        box-shadow: #000 0.5;
        padding: 10px 30px;
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px){
    nav.nav-horaires{
        font-family: 'Montserrat', sans-serif;
        background-image: url(/dist/assets/img/IMG_2502.jpg);
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-bottom: 30px;
    }
    section.horaires{
        font-family: 'Montserrat', sans-serif;
        justify-self: center;
        background-color: whitesmoke;
        margin: 0 5%;
        padding:15px 15px;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
    }

    strong{
        font-family: sans-serif;
    }
    h1.logo2{
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }

    hr{
        width: 80%;
        padding: 10px ;
    }

    h3, h4{
        text-transform: uppercase;
        padding: 10px;
    }
}

@media screen and(max-width: 768px) {
    nav.acceuil{
        width: 100%;
        background-color: #ccc;
        color: #fff;

        h1.acceuil{
            margin: 0;
        }
    }

    header  div{
        height: 300px;
        width: 100%;
        background-image: url(/dist/assets/img/IMG_2502.jpg);
        background-size:cover ;
        position: relative;
        margin-bottom: 20px;

        h2{
            position: absolute;
            left:    0;
            bottom:   0;
            padding: 20px;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
        }
    }

    section{
        font-family: 'Montserrat', sans-serif;
        justify-self: center;
        background-color: whitesmoke;
        margin: 0 5%;
        padding:15px 15px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.75);
    }

    div.h-lang{
        height: 50%;
        width: 100%;
        display: flex;
        position: relative;

        img{
            position: absolute;
            right: 0;
            top: 0;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            border: 2px solid #00AB66;
        }
    }
}