*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    font-family: $varela;
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    font-family: $poppins;
    font-size: 0.88rem;
    background-color: $color-background;
    user-select: none;
    overflow-x: hidden;
    color: $color-dark;
}

.corps{
    display: flex;
    flex-direction: row;
    width: 100%;

    aside{
        width: 200px;

        h2{
            text-align: center;
            color: black;
        }
    }

    main{
        width: calc(100% - 200px);
        padding: 10px;

        #top{
            display: flex;
            width: 100%;
            padding: 15px;
        }

        .info{
            display: flex;

            .container{
                .row{
                    input{
                        padding: 5px;
                        margin: 10px;
                    }
                }
            }
        }
    }
}

i{
    padding: 5px;
    margin-right: 5px;
}
/*
h2{
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 15px;
}




*/
section{
    padding: 30px 0px;
    text-align: center;
}

/*
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}
*/


h3{
    text-transform: uppercase;
    color: $tertiary;
    font-weight: bolder;
    margin-top: 4em;
    font-size: 13px;
}

hr{
    width: 20px;
    height: 3px;
    background-color: $secondary;
}

p{
    font-size: 12px;
}

a{
    color: $color-dark;
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.4rem;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.76rem;
}

.text-muted{
    color: $color-info-dark;
}


p{
    color: $color-dark-variant;
}

b{
    color: $color-dark;
}

.right{
    margin-top: 1.4rem;
}





// Medias Query
@mixin base--sm {

}

@mixin base--md {

}