
$primary:#24292f;
$primary-dark: darken($primary, 40%);
$primary-light: lighten($primary, 40%);

$secondary:#FFF;
$secondary-dark:darken($secondary, 40%);
$secondary-light:lighten($secondary, 40%);

$tertiary:#9fa8ad;;
